@page "/account/notifications"
@rendermode InteractiveAuto
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<section id="account">
    <div class="container">
        <AccountLeftSide />
        <Notifications />
    </div>
</section>

@code {

}
