@page "/account/savedcourses"
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<section id="account">
    <div class="container">
        <AccountLeftSide />
        <SavedItems />
    </div>
</section>

@code {

}
