@page "/account/details"
@rendermode InteractiveServer
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<section id="account">
    <div class="container">


        @if (user != null)
        {
            <AccountLeftSide User="user" />
            <Details User="user" />
        }
        else
        {
            <p>Loading user data...</p>
        }

    </div>
</section>

@code {
    private ApplicationUser user { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userClaims = authenticationState.User;

        user = await UserManager.GetUserAsync(userClaims);
        return;
    }
}
