@page "/Course"

<section class="single-course-section">
    <img class="bkg-img" src="images/course1.svg" alt="Course image">
    <div class="container">
        <UpperSection />
        <div class="course-info">
            <CourseDescription />
            <JoinCourse />
        </div>

        <div class="program-details">
            <h2 class="display6">Program Details</h2>

            <ProgramDetail />
            <ProgramDetail />
            <ProgramDetail />
            <ProgramDetail />
            <ProgramDetail />
            <ProgramDetail />
        </div>
    </div>
</section>

@code {

}
