<div class="course-desc">
    <h2 class="display6">Course Description</h2>
    <p class="m-text">Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
    <div class="what-youll-learn">
        <h3 class="header3">What you'll learn</h3>
        <p class="m-text"><i class="fa-regular fa-circle-check"></i> Sed lectus donec amet eu turpis interdum.</p>
        <p class="m-text"><i class="fa-regular fa-circle-check"></i> Nulla at consectetur vitae dignissim porttitor.</p>
        <p class="m-text"><i class="fa-regular fa-circle-check"></i> Phasellus id vitae dui aliquet mi.</p>
        <p class="m-text"><i class="fa-regular fa-circle-check"></i> Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
        <p class="m-text"><i class="fa-regular fa-circle-check"></i> In aenean dolor diam tortor orci eu.</p>
    </div>
</div>

@code {

}
