<div class="notifications">
    <h1>Notifications</h1>
    <form id="notifications" method="post" novalidate class="basic-info">
        @*<h5 class="message @((Model.ErrorMessage != "Success!") ? "error" : "success")">@Model.ErrorMessage</h5>
        *@
        <div class="label-input">
            <label>Preferred email for notifications</label>
            @*<span asp-validation-for="@Model.FirstName"></span>
            *@ <input placeholder="example@gmail.com" class="input" type="text">
        </div>
    </form>

    <div class="btn-and-text">
        <div id="switch-subscribe" class="btn-switch">
            <label class="switch" for="switch-subscribe-mode">
                <input type="checkbox" id="switch-subscribe-mode" />
                <span class="slider round"></span>
            </label>
        </div>
        <div class="text">
            <h6>Subscribe to Newsletter</h6>
            <p class="sub-text">Nec, posuere non felis duis massa vitae aliquet interdum scelerisque. Neque ullamcorper.</p>
        </div>
    </div>
    <div class="btn-and-text">
        <div id="switch-darkmode" class="btn-switch">
            <label class="switch" for="switch-darkmode-mode">
                <input type="checkbox" id="switch-darkmode-mode" />
                <span class="slider round"></span>
            </label>
        </div>
        <div class="text">
            <h6>Use Dark Mode Theme in Application</h6>
            <p class="sub-text">Tortor massa porttitor enim tristique neque fermentum sed.</p>
        </div>
    </div>
    <div class="buttons">
        <button type="reset" class="btn-gray">Cancel</button>
        <button type="submit" class="btn-theme">Save changes</button>
    </div>
    
</div>

@code {

}
