<div class="program">
    <img id="programDetailsImg" src="/images/1-program.svg" alt="">
    <div class="program-text">
        <p class="lead-text">Introduction. Getting started</p>
        <p class="m-text">Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
    </div>
</div>

@code {

}
