<div class="saved-items">
    <div class="title-btn">
        <h1>Saved Items</h1>
        <a asp-controller="Profile" asp-action="RemoveAllCourses" class="btn-delete"><i class="fa-solid fa-trash"></i> Delete all</a>
    </div>
    <div class="courses">

        <div class="oneCourse">
            <div class="btn-tooltip">
                <form method="post">
                    <input type="hidden" name="courseId" value="" />
                    <i class="saveCourseBtn fa-sharp fa-regular fa-circle-bookmark"></i>
                    <p class="tool-tip">Save</p>
                </form>
            </div>
            <p class="bestSeller">Best seller</p>
            <a asp-controller="Courses" asp-action="SingleCourse" class="oneCourseLink">
                <img src="images/course1.svg" alt="Image from the course">
                <div class="course-info">
                    <h5 class="header5">Fullstack Web Developer Course from Scratch</h5>
                    <p class="author">By Robert Fox</p>
                    <div class="prices">
                        <p class="price color-danger">$123</p>
                        <p class="reducedPrice">$92</p>
                        @* <p class="price">$32</p> *@
                    </div>
                    <div class="hours-and-rating">
                        <i class="fa-regular fa-clock" style="color: #9397AD;"></i>
                        <p class="hours text-s">196 hours</p>
                        <i class="fa-regular fa-thumbs-up" style="color: #9397AD;"></i>
                        <p class="rating text-s">53% (372)</p>
                    </div>
                </div>
            </a>
        </div>  
        
        <div class="oneCourse">
            <div class="btn-tooltip">
                <form method="post">
                    <input type="hidden" name="courseId" value="" />
                    <i class="saveCourseBtn fa-sharp fa-regular fa-circle-bookmark"></i>
                    <p class="tool-tip">Save</p>
                </form>
            </div>
            <p class="bestSeller">Best seller</p>
            <a asp-controller="Courses" asp-action="SingleCourse" class="oneCourseLink">
                <img src="images/course1.svg" alt="Image from the course">
                <div class="course-info">
                    <h5 class="header5">Fullstack Web Developer Course from Scratch</h5>
                    <p class="author">By Robert Fox</p>
                    <div class="prices">
                        <p class="price color-danger">$123</p>
                        <p class="reducedPrice">$92</p>
                        @* <p class="price">$32</p> *@
                    </div>
                    <div class="hours-and-rating">
                        <i class="fa-regular fa-clock" style="color: #9397AD;"></i>
                        <p class="hours text-s">196 hours</p>
                        <i class="fa-regular fa-thumbs-up" style="color: #9397AD;"></i>
                        <p class="rating text-s">53% (372)</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="oneCourse">
            <div class="btn-tooltip">
                <form method="post">
                    <input type="hidden" name="courseId" value="" />
                    <i class="saveCourseBtn fa-sharp fa-regular fa-circle-bookmark"></i>
                    <p class="tool-tip">Save</p>
                </form>
            </div>
            <p class="bestSeller">Best seller</p>
            <a asp-controller="Courses" asp-action="SingleCourse" class="oneCourseLink">
                <img src="images/course1.svg" alt="Image from the course">
                <div class="course-info">
                    <h5 class="header5">Fullstack Web Developer Course from Scratch</h5>
                    <p class="author">By Robert Fox</p>
                    <div class="prices">
                        <p class="price color-danger">$123</p>
                        <p class="reducedPrice">$92</p>
                        @* <p class="price">$32</p> *@
                    </div>
                    <div class="hours-and-rating">
                        <i class="fa-regular fa-clock" style="color: #9397AD;"></i>
                        <p class="hours text-s">196 hours</p>
                        <i class="fa-regular fa-thumbs-up" style="color: #9397AD;"></i>
                        <p class="rating text-s">53% (372)</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="oneCourse">
            <div class="btn-tooltip">
                <form method="post">
                    <input type="hidden" name="courseId" value="" />
                    <i class="saveCourseBtn fa-sharp fa-regular fa-circle-bookmark"></i>
                    <p class="tool-tip">Save</p>
                </form>
            </div>
            <p class="bestSeller">Best seller</p>
            <a asp-controller="Courses" asp-action="SingleCourse" class="oneCourseLink">
                <img src="images/course1.svg" alt="Image from the course">
                <div class="course-info">
                    <h5 class="header5">Fullstack Web Developer Course from Scratch</h5>
                    <p class="author">By Robert Fox</p>
                    <div class="prices">
                        <p class="price color-danger">$123</p>
                        <p class="reducedPrice">$92</p>
                        @* <p class="price">$32</p> *@
                    </div>
                    <div class="hours-and-rating">
                        <i class="fa-regular fa-clock" style="color: #9397AD;"></i>
                        <p class="hours text-s">196 hours</p>
                        <i class="fa-regular fa-thumbs-up" style="color: #9397AD;"></i>
                        <p class="rating text-s">53% (372)</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

@code {

}
