<div class="upper-section">
    <div class="course-categories">
        <p class="green-category">Best Seller</p>
        <p class="white-category">Digital</p>
    </div>
    <h1 class="display6">Fullstack Web Developer Course from Scratch</h1>
    <p class="l-text">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
    <div class="rating-and-reviews">
        <div class="reviews">
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
            <i class="fa-regular fa-star"></i>
            <p class="m-text">(1.2K reviews)</p>
        </div>
        <div class="likes">
            <i class="fa-regular fa-thumbs-up"></i>
            <p class="m-text">5K likes</p>
        </div>
        <div class="hours">
            <i class="fa-regular fa-clock"></i>
            <p class="m-text">148 hours</p>
        </div>
    </div>
</div>
<div class="created-by">
    <img src="images/author-img.svg" alt="Image of course author">
    <div class="creator-text">
        <p class="m-text">Created by</p>
        <p class="m-text author-name">Albert Flores</p>
    </div>
</div>
@code {

}
