.signin-section {
  margin-top: 3.5rem;
}
@media (min-width: 992px) {
  .signin-section {
    margin-top: 7rem;
  }
}
.signin-section .container {
  display: flex;
  justify-content: center;
}
.signin-section .container .signin-form ::deep .signup-link {
  color: #6366F1;
  font-weight: 600;
}
.signin-section .container .signin-form .m-text {
  color: #565973;
}
.signin-section .container .signin-form .header1 {
  font-weight: 700;
}
.signin-section .container .signin-form form .error-message {
  color: #EF4444;
  margin-bottom: 0.5rem;
}
.signin-section .container .signin-form form label {
  font-weight: 600;
  margin: 0;
  display: inline;
  color: #33354D;
}
.signin-section .container .signin-form form span {
  margin-left: 0.5rem;
  color: #EF4444;
  font-size: 14px;
}
.signin-section .container .signin-form form .userinput {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #D4D7E5;
  height: 2.5rem;
  width: 25vw;
  min-width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  display: block;
}
.signin-section .container .signin-form form .userinput::placeholder {
  color: #B4B7C9;
}
.signin-section .container .signin-form form .userinput.input-validation-error {
  border: 1px solid #EF4444;
  background-color: rgba(255, 0, 0, 0.05);
}
.signin-section .container .signin-form form .userinput.input-validation-error::placeholder {
  color: #EF4444;
}
.signin-section .container .signin-form form .remember-me input {
  accent-color: #6366F1;
  margin-right: 0.5rem;
  background: white;
}
.signin-section .container .signin-form form .remember-me label {
  display: inline;
  font-weight: 400;
  color: #565973;
}
.signin-section .container .signin-form form .remember-me button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  border: none;
}
.signin-section .container .signin-form form .remember-me .forgot-password {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.signin-section .container .signin-form form .remember-me .forgot-password ::deep .signup-link {
  color: #6366F1;
  font-weight: 600;
}
