.details {
    flex: 2;

    @media(min-width: 768px) {
        padding-left: 30px;
    }

    @media(min-width: 992px) {
        padding-left: 100px;
        flex: 3;
    }

    label {
        font-weight: 600;
        color: $gray-900;
    }

    h1 {
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }

    h4 {
        color: $gray-700;
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }
    }

    .message {
        text-align: center;

        @media(min-width: 768px) {
            text-align: left;
        }

        &.error {
            color: #EF4444;
        }

        &.success {
            color: #048316;
        }
    }

    h6 {
        font-weight: 600;

        span {
            font-weight: 500;
            color: #B4B7C9;
        }
    }

    .group {

        @media(min-width: 768px) {
            display: flex;
            gap: 20px;
        }
    }

    .label-input {
        display: block;
        flex: 1;
        padding-bottom: 30px;
    }

    span {
        font-size: 14px;
        color: #EF4444;
    }

    .input {
        display: block;
        width: 100%;
        border: 1px solid $gray-300;
        border-radius: 8px;
        outline-color: #6366F1;
        padding: 12px 10px;
        background-color: $white;
        color: $gray-700;

        &:disabled {
            background-color: #E2E5F1;
        }

        &.input-validation-error {
            color: #EF4444;
            border-color: #EF4444;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 20px 0;

        @media(min-width: 768px) {
            justify-content: baseline;
        }
    }

    .basic-info {
        border-bottom: 1px solid #D4D7E5;

        textarea {
            resize: none;
        }
    }

    .address {
        margin-top: 30px;
    }
}
