.signin-section {
    margin-top: 3.5rem;

    @media (min-width: 992px) {
        margin-top: 7rem;
    }

    .container {
        display: flex;
        justify-content: center;

        .signin-form {

            .signup-link {
                color: #6366F1;
                font-weight: 600;
            }

            .m-text {
                color: $gray-700;
            }

            .header1 {
                font-weight: 700;
            }

            form {
                .error-message {
                    color: #EF4444;
                    margin-bottom: 0.5rem;
                }

                label {
                    font-weight: 600;
                    margin: 0;
                    display: inline;
                    color: $gray-900;
                }

                span {
                    margin-left: 0.5rem;
                    color: #EF4444;
                    font-size: 14px;
                }

                .userinput {
                    margin-top: 0.2rem;
                    margin-bottom: 1rem;
                    border-radius: 6px;
                    border: 1px solid $gray-300;
                    height: 2.5rem;
                    width: 25vw;
                    min-width: 100%;
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                    display: block;
                    background-color: $white;

                    &::placeholder {
                        color: #B4B7C9;
                    }

                    &.input-validation-error {
                        border: 1px solid #EF4444;
                        background-color: rgb(255, 0, 0, 0.05);

                        &::placeholder {
                            color: #EF4444;
                        }
                    }
                }

                .remember-me {
                    input {
                        accent-color: #6366F1;
                        margin-right: 0.5rem;
                        background: white;
                    }

                    label {
                        display: inline;
                        font-weight: 400;
                        color: $gray-900;
                    }

                    button {
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem;
                        display: block;
                        width: 100%;
                        border: none;
                    }

                    .forgot-password {
                        display: flex;
                        justify-content: center;
                        padding-bottom: 2rem;

                        .signup-link {
                            color: #6366F1;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
